<html>
	<head>
		<title>[[This is the application title]]</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<h1>[[Form to include a new user]]</h1>
		<p>
			[[In order to sign in, please enter your user name, login and e-mail address]]
			<br/>
			<label>[[User name]]:</label>
			<label>[[Login]]:</label>
			<label>[[e-mail]]:</label>
		</p>
		<button hint="[[Save the current form]]">[[Save]]</button>
		<button>[[Cancel]]</button>
	</body>
</html>